/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.2.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: backpacker_lb3
-- ------------------------------------------------------
-- Server version	12.2.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `tbl_benutzer`
--

DROP TABLE IF EXISTS `tbl_benutzer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_benutzer` (
  `Benutzer_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Benutzername` varchar(20) NOT NULL,
  `Password` varchar(255) DEFAULT NULL,
  `Vorname` varchar(20) DEFAULT NULL,
  `Name` varchar(50) DEFAULT NULL,
  `Benutzergruppe` tinyint(4) DEFAULT 1,
  `erfasst` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deaktiviert` date DEFAULT NULL,
  `aktiv` tinyint(4) DEFAULT 1,
  PRIMARY KEY (`Benutzer_ID`),
  UNIQUE KEY `uk_benutzername` (`Benutzername`),
  CONSTRAINT `chk_benutzername` CHECK (`Benutzername` <> '')
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Mitarbeiter / Systembenutzer';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_benutzer`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `tbl_benutzer` WRITE;
/*!40000 ALTER TABLE `tbl_benutzer` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_benutzer` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `tbl_buchung`
--

DROP TABLE IF EXISTS `tbl_buchung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_buchung` (
  `Buchungs_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Personen_FS` int(11) DEFAULT NULL,
  `Ankunft` datetime DEFAULT NULL,
  `Abreise` datetime DEFAULT NULL,
  `Land_FS` int(11) DEFAULT NULL,
  PRIMARY KEY (`Buchungs_ID`),
  KEY `fk_buchung_personen` (`Personen_FS`),
  KEY `fk_buchung_land` (`Land_FS`),
  KEY `idx_buchung_ankunft` (`Ankunft`),
  KEY `idx_buchung_abreise` (`Abreise`),
  CONSTRAINT `fk_buchung_land` FOREIGN KEY (`Land_FS`) REFERENCES `tbl_land` (`Land_ID`),
  CONSTRAINT `fk_buchung_personen` FOREIGN KEY (`Personen_FS`) REFERENCES `tbl_personen` (`Personen_ID`),
  CONSTRAINT `chk_buchung_datum` CHECK (`Abreise` is null or `Ankunft` is null or `Abreise` >= `Ankunft`)
) ENGINE=InnoDB AUTO_INCREMENT=1087 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Buchungskopfdaten';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_buchung`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `tbl_buchung` WRITE;
/*!40000 ALTER TABLE `tbl_buchung` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_buchung` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `tbl_land`
--

DROP TABLE IF EXISTS `tbl_land`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_land` (
  `Land_ID` int(11) NOT NULL,
  `Land` varchar(100) NOT NULL,
  PRIMARY KEY (`Land_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='L??ndercodes der G??ste';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_land`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `tbl_land` WRITE;
/*!40000 ALTER TABLE `tbl_land` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_land` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `tbl_leistung`
--

DROP TABLE IF EXISTS `tbl_leistung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_leistung` (
  `LeistungID` int(11) NOT NULL,
  `Beschreibung` varchar(70) DEFAULT NULL,
  PRIMARY KEY (`LeistungID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Leistungskategorien / Serviceangebote';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_leistung`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `tbl_leistung` WRITE;
/*!40000 ALTER TABLE `tbl_leistung` DISABLE KEYS */;
INSERT INTO `tbl_leistung` VALUES
(1,'Zimmerreservation inklusive erste Nacht'),
(2,'Zimmer Folgenacht'),
(3,'Restaurant'),
(4,'Bar'),
(5,'Telefon'),
(6,'Freizeitangebot'),
(7,'Sauna');
/*!40000 ALTER TABLE `tbl_leistung` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `tbl_personen`
--

DROP TABLE IF EXISTS `tbl_personen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_personen` (
  `Personen_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Titel` varchar(20) DEFAULT NULL,
  `Vorname` varchar(50) DEFAULT NULL,
  `Name` varchar(50) DEFAULT NULL,
  `Strasse` varchar(100) DEFAULT NULL,
  `PLZ` varchar(10) DEFAULT NULL,
  `Ort` varchar(50) DEFAULT NULL,
  `Anrede` varchar(10) DEFAULT NULL,
  `Telefon` varchar(30) DEFAULT NULL,
  `erfasst` datetime DEFAULT NULL,
  `Sprache` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`Personen_ID`),
  KEY `idx_personen_name` (`Name`,`Vorname`)
) ENGINE=InnoDB AUTO_INCREMENT=2042 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='G??stedaten';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_personen`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `tbl_personen` WRITE;
/*!40000 ALTER TABLE `tbl_personen` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_personen` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `tbl_positionen`
--

DROP TABLE IF EXISTS `tbl_positionen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_positionen` (
  `Positions_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Buchungs_FS` int(11) DEFAULT NULL,
  `Konto` int(11) NOT NULL DEFAULT 0,
  `Anzahl` int(11) NOT NULL DEFAULT 0,
  `Preis` decimal(10,2) NOT NULL DEFAULT 0.00,
  `Rabatt` decimal(4,2) NOT NULL DEFAULT 0.00,
  `Benutzer_FS` int(11) NOT NULL DEFAULT 0,
  `erfasst` datetime NOT NULL DEFAULT '2000-01-01 00:00:00',
  `Leistung_Text` varchar(255) NOT NULL DEFAULT '',
  `Leistung_FS` int(11) DEFAULT NULL,
  PRIMARY KEY (`Positions_ID`),
  KEY `fk_positionen_buchung` (`Buchungs_FS`),
  KEY `fk_positionen_leistung` (`Leistung_FS`),
  KEY `fk_positionen_benutzer` (`Benutzer_FS`),
  KEY `idx_positionen_konto` (`Konto`),
  KEY `idx_positionen_erfasst` (`erfasst`),
  CONSTRAINT `fk_positionen_benutzer` FOREIGN KEY (`Benutzer_FS`) REFERENCES `tbl_benutzer` (`Benutzer_ID`),
  CONSTRAINT `fk_positionen_buchung` FOREIGN KEY (`Buchungs_FS`) REFERENCES `tbl_buchung` (`Buchungs_ID`),
  CONSTRAINT `fk_positionen_leistung` FOREIGN KEY (`Leistung_FS`) REFERENCES `tbl_leistung` (`LeistungID`),
  CONSTRAINT `chk_preis` CHECK (`Preis` >= 0),
  CONSTRAINT `chk_rabatt` CHECK (`Rabatt` >= 0 and `Rabatt` <= 100)
) ENGINE=InnoDB AUTO_INCREMENT=4054 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Einzelne Buchungspositionen / Leistungen';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_positionen`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `tbl_positionen` WRITE;
/*!40000 ALTER TABLE `tbl_positionen` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_positionen` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping routines for database 'backpacker_lb3'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-06-23 14:14:42
